<h2> Hello. I made this app. If you have any suggestions on how I can improve the site save them for another time </h2>
<a href="localhost:4567"> Main Page </a>   <a href="localhost:4567/contacts"> Contacts </a>   <a href="localhost:4567/about"> About </a>
