<h1> CONTACTS </h1>

<a href="localhost:4567"> Main Page </a>   <a href="localhost:4567/contacts"> Contacts </a>   <a href="localhost:4567/about"> About </a>


<ul>
<% @list_of_contacts.each do |contact| %>
<li> Name: <%= contact.full_name %>, Email: <%= contact.email %>, Note: <%= contact.note %> </li>
<% end %>
</ul>
