<h1> CONTACTS </h1>

<h4> There are <div><%= Contact.count %></div> contacts.</h4>
<ul>
<% @list_of_contacts.each do |contact| %>
<li> <%= contact.full_name %> (<%= contact.email %>) </li>
<% end %>
</ul>
